.result,.questions,.options{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:800px){
  .heading{
    padding-left: 5%;
    padding-right: 2%;
  }
}

@media (min-width:800px){
  .heading{
    padding-left: 2%;
    padding-right: 2%;
  }
  .alert{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }
}


.submitButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
